{% extends "base/HeaderBase.html" %}
{% load static %}
{% load widget_tweaks %}

<!-- Título página -->
{% block titulo%} Moar Travel {% endblock titulo%}

<!-- Fondo -->
{% block b%} "bgFondoInicio" {% endblock b%}
{% block alerta%}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show alert-full-width" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% elif message.tags == 'success' %}
            <div class="alert alert-success alert-dismissible fade show alert-full-width" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock alerta%}
{% block contenido%} 
    <div class="container-flex">

        <article class="content" >
            <seccion>
                <!-- LOGO 
                <img src="/static/images/logoAlgar.svg" alt="" class="logoimage"> 
                -->               
                <!-- FORMULARIO -->
                <div class="ms-2">
                    <h5 class="fw-light text-secundary">Empieza ahora gratis</h5>
                    
                    <h1 class="my-4">Crear una nueva cuenta</h1>     
                    <h4 class="fw-light">¿Ya eres miembro? <span class="text-primary" ><a href="{% url 'authentication:login' %}">Iniciar Sesión</a></span></h4>    
                </div>
  
                <form method="post"  id="formulario">
                    {% csrf_token %} 
                    <div class="row">
                        <div class="col">
                            <div class="form-group m-2" id="grupo__correo">                           
                                {% render_field form.username class="form-control InputTransparente" id="username" name="username" placeholder="username" %}
                            </div>
                            
                            <div class="form-group m-2" id="grupo__password">                           
                                {% render_field form.password1  type="password" class="form-control InputTransparente" id="password" name="password" placeholder="Contraseña" %}
                            </div> 
                            <div class="form-group m-2" id="grupo__password">
                                {% render_field form.tipo_cedula class="form-select InputTransparente" id="tipo_cedula" name="tipo_cedula" placeholder="Tipo documento" empty_label="Selecione..." %}
                            </div>

                            <div class="form-group m-2" >
                                {% render_field form.email type="email" class="form-control InputTransparente" id="email" name="email" placeholder="Email" %}
                              
                            </div>
                            <div class="form-group m-2" >
                                <label class="ms-1">Fecha de nacimiento</label>
                                {% render_field form.fecha_nacimiento type="date" class="form-control InputTransparente" id="fechaNacimiento" name="fechaNacimiento" %}                           
                            </div>  
                        </div>
                
                        <div class="col">
                            <div class="form-group m-2" id="grupo__password">          
                                {% render_field form.first_name class="form-control InputTransparente " id="first_name" name="first_name" placeholder="primer nombre" %}    
                            </div> 
                            <div class="form-group m-2" >
                                {% render_field form.last_name class="form-control InputTransparente" id="last_name" name="last_name" placeholder="Segundo nombre" %}
                            </div>
                            <div class="form-group m-2" id="grupo__password">
                                {% render_field form.password2 class="form-control InputTransparente" id="Confirmpass" name="Confirmpass" placeholder="Confirmar Contraseña" %}
                            </div>
                            <div class="form-group m-2" id="grupo__password">
                                {% render_field form.numero_cedula type="number" class="form-control InputTransparente" id="numeroDocumento" name="numeroDocumento" placeholder="Numero de documento" %}
                              </div>
                   
                            <div class="form-group m-2" >
                                <label class="ms-1">Telefono de contacto</label>
                                {% render_field form.telefono type="number" class="form-control InputTransparente" id="telefono" name="telefono" placeholder="Telefono" %}
                             </div> 

                        </div>
                    </div>  
                    <!-- BOTÓN INICIO SESIÓN -->
                    <div class="row"  >                          
                        <a class="text-danger text-center"> {{ form.errors }} </a>
                        <input type="submit" value="Registrarse" class="btn btn-primary">
                    </div>
                </form>
                <!-- FIN FORMULARIO --> 
        
            </seccion>
            <!-- FIN COLUMNA DERECHA -->

        </article>
    </div>

{% endblock contenido%}

{% block functions %} 

    <!-- LINKS JAVASCRIPT -->
   
    
{% endblock functions %}  