{% extends "base/HeaderBase.html" %}
{% load static %}

<!-- Título página -->
{% block titulo%} Moar Travel {% endblock titulo%}

<!-- Fondo -->
{% block b%} "bgFondoInicio" {% endblock b%}

{% block contenido%} 
    <div class="container-flex">

        <article class="content" >
            <seccion>
                <!-- LOGO 
                <img src="/static/images/logoAlgar.svg" alt="" class="logoimage"> 
                -->               
                <!-- FORMULARIO -->
                <div class="ms-2">
                    <h5 class="fw-light text-secundary">Empieza ahora gratis</h5>
                    
                    <h1 class="my-4">Crear una nueva cuenta</h1>     
                    <h4 class="fw-light">¿Ya eres miembro? <span class="text-primary" ><a href="{% url 'authentication:login' %}">Iniciar Sesión</a></span></h4>    
                </div>
  
                <form method="post"  id="formulario">
                    {% csrf_token %} 
                    <div class="row">
                        <div class="col">
                            <div class="form-group m-2" id="grupo__correo">                           
                                <input type="text" class="form-control InputTransparente"  name="username" id="{{ form.username.id_for_label }}" placeholder="Jhon Doe">
                            </div>
                            <div class="form-group m-2" id="grupo__password">                           
                            <input type="password" class="form-control InputTransparente" name="password" id="{{ form.password1.id_for_label }}" placeholder="Contraseña">
                            </div> 
                            <div class="form-group m-2" id="grupo__password">
                                <select class="form-select InputTransparente" aria-label="Default select example">
                                    <option selected>Tipo de documento</option>
                                    <option value="1">Cedula</option>
                                    <option value="2">Cedula de extranjeria</option>
                                    <option value="3">NIT</option>
                                </select>
                            </div>
                            <div class="form-group m-2" >
                                <input type="email" class="form-control InputTransparente" name="emailUser" placeholder="Email">
                            </div>
                            <div class="form-group m-2" >
                                <select class="form-select InputTransparente" aria-label="Default select example">
                                    <option selected>Seleccionar País</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="form-group m-2" >
                                <label class="ms-1">Fecha de nacimiento</label>
                                <input type="date" class="form-control InputTransparente" name="fechaNacimiento" id="fechaNacimiento" placeholder="senha">                           
                            </div>  
                        </div>
                
                        <div class="col">
                            <div class="col form-group m-2" id="grupo__correo">                            
                                <input type="text" class="form-control InputTransparente" name="lastname" id="user" placeholder="Doe">
                            </div> 

                            <div class="form-group m-2" id="grupo__password">
                                <input type="password" class="form-control InputTransparente" name="Confirmpassword" id="Confirmpass" placeholder="Confirmar Contraseña">
                            </div>
                            <div class="form-group m-2" id="grupo__password">
                                <input type="number" class="form-control InputTransparente" name="numeroDocumento" id="numeroDocumento" placeholder="Numero de documento">
                            </div>
                            <div class="form-group m-2" >
                                <input type="email" class="form-control InputTransparente" name="emailUser" placeholder="Confirmar Email">
                            </div>
                            <div class="form-group m-2" >
                                <select class="form-select InputTransparente" aria-label="Default select example">
                                    <option selected>Seleccionar Ciudad</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="form-group m-2" >
                                <label class="ms-1">Telefono de contacto</label>
                                <input type="number" class="form-control InputTransparente" name="NumeroTelefono" id="NumeroTelefono" placeholder="125879631">                           
                            </div> 
                        </div>
                    </div>  
                    <!-- BOTÓN INICIO SESIÓN -->
                    <div class="row mt-2 mb-4 px-5"  >
                        {{ form.non_field_errors }}
                        {{ form.errors }}
                        <input type="submit" value="Registrarse" class="btn btn-primary">
                    </div>
                </form>
                <!-- FIN FORMULARIO --> 
        
            </seccion>
            <!-- FIN COLUMNA DERECHA -->

        </article>
    </div>

{% endblock contenido%}

{% block functions %} 

    <!-- LINKS JAVASCRIPT -->
   
    
{% endblock functions %}  