{% extends "base/HeaderBase.html" %}
{% load static %}
{% load widget_tweaks %}
<!-- Título página -->
{% block titulo%} Moar Travel {% endblock titulo%}

<!-- Fondo -->
{% block b%} "bgFondoInicio" {% endblock b%}
{% block alerta%}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show alert-full-width" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% elif message.tags == 'success' %}
            <div class="alert alert-success alert-dismissible fade show alert-full-width" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock alerta%}
{% block contenido%} 

    <div class="container-flex">

        <article class="content" >
            <seccion>
                <!-- LOGO 
                <img src="/static/images/logoAlgar.svg" alt="" class="logoimage"> 
                -->               
                <!-- FORMULARIO -->
                  <!-- LOGO 
                <img src="/static/images/logoAlgar.svg" alt="" class="logoimage"> 
                -->               
                <!-- FORMULARIO -->
                <div class="ms-2">                    
                    <h1 class="my-4">Actualizar contraseña</h1>     
                    <h4 class="fw-light">Utiliza una contraseña segura que no se te olvide</h4>    
                </div>
  
                <form class="row me-5 mt-4 pe-5" method="post"  id="formulario">
                    {% csrf_token %}
      
                    <div class="col-8">
                        <div class="form-group m-2" id="grupo__correo">
                            <label for="password" class="d-none">Nueva contraseña</label>
                            {% render_field form.password1 type="password" class="form-control InputTransparente" placeholder="Digite contraseña nueva" %}
                        </div>  
                        <div class="form-group m-2" id="grupo__password">
                            <label for="password" class="d-none">Repetir contraseña</label>
                            {% render_field form.password2 class="form-control InputTransparente" type="password" placeholder="Repita la contraseña"  %} 
                        </div>  
                        <div class="d-flex m-2 mt-3">
                            <button type="submit"class="btn btn-primary w-50 me-1"id="Recuperar">Recuperar contraseña</button>        
                        </div>   
                    </div>
             
                    <!-- BOTÓN INICIO SESIÓN -->
                  
                </form>
                <!-- FIN FORMULARIO --> 
        
            </seccion>
            <!-- FIN COLUMNA DERECHA -->

        </article>
    </div>

{% endblock contenido%}

{% block functions %} 

    <!-- LINKS JAVASCRIPT -->
   
    
{% endblock functions %}  