<!DOCTYPE html>
<html lang="es">
    <head>
    	<meta charset="utf-8">
    	<title>Correo para resetear contraseña</title>
    </head>

    <body sstyle="margin:0;padding:0; background-color: white">
        <table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;background:#ffffff;">
            <tr>
                <td align="center" style="padding:0;">
                    <table role="presentation" style="width:602px;border-collapse:collapse;border:1px solid #c4c4c4;border-spacing:0;text-align:left;">
                        <td align="center" style="padding:40px 0 30px 0;background:url(https://i.postimg.cc/HkJ3ZFWN/fonndo-banner.jpg)">
                            <img src="https://i.postimg.cc/7LFrDBbQ/logo-Algar.png"  width="300" style="height:auto;display:block;" />
                        </td>    
                        <tr>
                            <td style="padding:36px 30px 42px 30px;">
                                <table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;">
                                    <tr>
                                        <td style="padding:0 0 36px 0;color:#153643;">
                                            <h1 style="font-size:24px;margin:0 0 20px 0;font-family:Arial,sans-serif;">OÍ {{name}}:</h1>
                                            <p style="margin:0 0 12px 0;font-size:16px;line-height:24px;font-family:Arial,sans-serif;">Recebemos uma solicitação de redefinição de senha para a conta associada a este e-mail.</p>                                          
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding:0 0 36px 0; color: #153643;">                                            
                                            <a style="text-decoration: none; border-radius: 5px; padding: 11px 23px; color: white; background-color: #3498db" href="{{link_reset}}">Clique aqui para redefinir a senha.</a>                                                                                       
                                        </td>
                                    </tr>                                   
                                </table>
                            </td>
                        </tr>                        
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>

